<div class="big_card">
    <div class="big_card--photo">
      <img
        src="{{photo}}"
        alt=""
        height="200px"
      />
    </div>
  <div class="big_card--texts">
    <div>
        <div class="big_card--title">
          <h2><a [routerLink]="['content',Id]">{{title}}</a></h2>
        </div>
      </div>
      <div>
        <div class="big_card--description">
          <p>
            <a [routerLink]="['content',Id]">
              {{description}}
            </a>
          </p>
        </div>
      </div>
  </div>
  
</div>
