<div class="big_card">
    <div>
        <div class="big_card--photo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s" 
            alt=""height="200px">
        </div>
    </div>
    <div>
        <div class="big_card--title">
            <h2><a href="">Titulo mockado</a></h2>
        </div>
    </div>
    <div>
        <div class="big_card--description">
            <p>
                <a href="">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut architecto corporis 
                    vel. Ea tempore excepturi id, commodi distinctio consequuntur, autem sint eligendi ullam deleniti quas soluta quaerat 
                    necessitatibus sapiente voluptates!
                </a>
            </p>
            
            </div>
    </div>
</div>